 <div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="addTransactionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addTransactionModalLabel">Create Transaction</h4>
          <p class="modal-intro">Enter the required values below.</p>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          

            
              <div class="form-group text-left">
                <label for="ownerId">OwnerId</label>
                
                  <input formControlName="ownerId" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="newOwnerId">NewOwnerId</label>
                
                  <input formControlName="newOwnerId" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="productId">ProductId</label>
                
                  <input formControlName="productId" type="text" class="form-control">
                
              </div>



              <div class="form-group text-left">
                <label for="product">Product</label>
                
                  <input formControlName="product" type="text" class="form-control">
                
              </div>



              <div class="form-group text-left">
                <label for="owner">Owner</label>
                
                  <input formControlName="owner" type="text" class="form-control">
                
              </div>



              <div class="form-group text-left">
                <label for="newOwner">NewOwner</label>
                
                  <input formControlName="newOwner" type="text" class="form-control">
                
              </div>
            


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button (click)="addTransaction(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Confirm</button>

        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        <strong>Error:</strong> {{errorMessage}}
    </div>
  
  <div class="row">
      <div class="col-md-9">
          <h1 class="transaction-title" id='transactionName'>Product Transfer</h1>
      </div>
      <div class="col-md-3">
        <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTransactionModal">
            <span style="font-size: 14px;font-family: inherit;border-right:1px solid rgba(255,255,255,0.5);padding-right:0.6em;margin-right:0.5em;vertical-align:middle;">
                <svg class="plus-svg" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                  <path fill-rule="evenodd" d="M5.5,4.5 L9.5,4.5 L10,4.5 L10,5.5 L9.5,5.5 L5.5,5.5 L5.5,9.5 L5.5,10 L4.5,10 L4.5,9.5 L4.5,5.5 L0.5,5.5 L0,5.5 L0,4.5 L0.5,4.5 L4.5,4.5 L4.5,0.5 L4.5,0 L5.5,0 L5.5,0.5 L5.5,4.5 Z"/>
                </svg>
            </span>
          Create Transaction
        </button>
      </div>
    </div>
  <br>
  <div class="row">
      <div class="col-md-12">
        <table class="table table-responsive">
          <thead class="thead">
            <tr class="thead-cols">
              
                  <th class="attribute">OwnerId</th>
              
                  <th class="attribute">NewOwnerId</th>

                  <th class="attribute">ProductId</th>

                  <th class="attribute">Product</th>
              
                  <th class="attribute">Owner</th>

                  <th class="attribute">NewOwner</th>

                  <th class="attribute">TransactionId</th>
              
                  <th class="attribute">Timestamp</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of allTransactions">
  
              
                  <td class="transaction-properties">{{transaction.ownerId}}</td>
              
                  <td class="transaction-properties">{{transaction.newOwnerId}}</td>

                  <td class="transaction-properties">{{transaction.productId}}</td>

                  <td class="transaction-properties">{{transaction.product.toString().split('#')[1]}}</td>
              
                  <td class="transaction-properties">{{transaction.owner.toString().split('#')[1]}}</td>

                  <td class="transaction-properties">{{transaction.newOwner.toString().split('#')[1]}}</td>

                  <td class="transaction-properties">{{transaction.transactionId}}</td>
              
                  <td class="transaction-properties">{{transaction.timestamp}}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>